---
import { DOC_SOURCE_URL, SITE_TITLE } from '../consts';

const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} {SITE_TITLE}</p>
	<p><a href={DOC_SOURCE_URL} target="_blank" rel="noreferrer">View the Markdown source</a></p>
</footer>
