---
import { DOC_SOURCE_URL, SITE_TITLE } from '../consts';

const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} {SITE_TITLE}</p>
	<p><a href={DOC_SOURCE_URL} target="_blank" rel="noreferrer">View the Markdown source</a></p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer a {
		color: inherit;
	}
</style>
